@media screen and (max-width: 767px){
    .dashboard-timer-box{
        flex-direction: column;
        padding: 1.5rem 1rem;

        .form-control{
            margin-bottom: 1.5rem;
        }

        .timer-project-dropdown{
            padding-left: 0;
            padding-right: 1rem; 

            .dropdown-toggle{
                font-size: 1.25rem;
            }
        
        }
        .dashboard-timer-numbers{
            padding-right: 1rem;
            font-size: 1.125rem;
        }

        .dashboard-timer-start-btn{
            font-size: 1rem;
            padding: 0.4rem 1.75rem;
        }
    }
    .dashboard-sidebar{
        position: absolute;
        left: -200px;
        z-index: 999999;

        &.toggled{
            left: 0;
            width: auto;
            transition: all 0.3s ease;

            a.nav-link{
                .dashboard-nav-text{
                    visibility: visible;
                    position: static;
                    // left: 0;
                    background-color: transparent;
                    padding: 0;
                    margin-left: 1rem;
                    border-radius: 0;
                    box-shadow: none;
                    z-index: 999999;
                }
    
                &:hover{
                    .dashboard-nav-text{
                        visibility: visible;
                    } 
                }
            }
        }

        .aside-icon {
            margin-left: 0;
        }

    } 

    .common-table{

        thead th {
            padding: 0.75rem;
    
        }
        td {
            padding: 0.75rem;
    
        }

    }

    .overview-number-wrapper{
        flex-direction: column;

        .overview-number-div{
            margin-bottom: 1rem;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}
.height-overflow{
    max-height: 300px;
    overflow-y: auto;
}